.article {
  display: flex;
  flex: 0 1 35vw;
  flex-direction: column;
  justify-content: space-between;
  background: #e3e3e3;
  padding: 1vh;
  margin: 2vh 0;
  border: 1px solid $color-black;
  transform: scale(0) rotateZ(0);
  transform-style: preserve-3d;
  perspective: 100rem;
  opacity: 0;
  transition: all .8s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;

  &__figure {
    display: flex;
    flex-direction: column;
    min-height: 65%;
    justify-content: flex-end;
    position: relative;
  }

  &__pic {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    filter: $drop-shadow;
  }

  &__title span {
    @include article__title(desktop);
    @include article__text(desktop);
    transform: translateY(100%);
  }

  &__outlet {
    @include article__outlet(desktop);
    @include article__text(desktop);
    align-self: flex-start;
  }
  &__author {
    @include article__author(desktop);
    @include article__text(desktop);
    align-self: flex-end;
  }
  &__date {
    @include article__date(desktop);
    @include article__text(desktop);
    align-self: center;
  }

  &:hover {
    animation: hoverAnimation .8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
}

.fadeIn {
  transform: scale(1);
  opacity: 1;
}

.fadeOut {
  transform: scale(0);
  opacity: 0;
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1) rotateZ(0);
  }
  10% {
    transform: scale(1) rotateZ(10deg);
  }
  100% {
    transform: scale(1.05) rotateZ(0)
  }
}
