.welcome {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-end;

  &__header {
    @include welcome__header(desktop);
  }

  &__secondary {
    @include welcome__secondary(desktop);
  }

  & span {
    color: $color-white;
  }
}
