.welcome {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  transform: scale(0);
  opacity: 0;
  transition: transform .8s cubic-bezier(0.77, 0, 0.175, 1),
              opacity .8s cubic-bezier(0.77, 0, 0.175, 1);


  &__header {
    @include welcome__header(desktop);
  }

  &__secondary {
    @include welcome__secondary(desktop);
  }

  & span {
    color: $color-white;
  }
}
