// https://flatuicolors.com/palette/defo

$drop-shadow: drop-shadow(0 1rem 1rem rgba(black, .7));

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: 'Lato';
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, red, orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 75vh;
  width: 85vw;
  border: 1px solid white;
  position: relative;
  filter: $drop-shadow;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  &__header {
    font-size: 7.5rem;
    margin-bottom: 2.5rem;
    font-weight: 100;
    letter-spacing: .75rem;

    & span {
      color: white;
      font-size: 10rem;
    }
  }

  &__secondary {
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: rgba(white, .5)
  }
}

.heading {
  transition: all cubic-bezier(0.77, 0, 0.175, 1);
  height: 50%;
  background-attachment: cover;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;

  &__header {
    background: rgba(black, .5);
    color: white;
    transform: translateY(10%);
    text-align: right;
    font-size: 3rem;
    letter-spacing: .35rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 130%;

  }
}

.slider {
  position: absolute;
  height: 110%;
  width: 7.5%;
  top: -5%;
  left: 2.5%;
  background: rgba(white, .5);
  filter: $drop-shadow;
  cursor: pointer;
  transition: all .85s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 999;
}

.slide {
  right: 2.5%;
  left: 90%;
}
