*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, red, orange);
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  height: 75vh;
  width: 85vw;
  border: 1px solid white;
  position: relative;
  -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.7));
  /**/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /**/ }
  .main h1,
  .main h4 {
    font-family: 'Lato'; }
  .main h1 {
    font-size: 7.5rem;
    margin-bottom: 2.5rem;
    font-weight: 100;
    letter-spacing: .75rem; }
    .main h1 span {
      color: white;
      font-size: 10rem; }
  .main h4 {
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: rgba(255, 255, 255, 0.5); }
  .main__pic {
    height: 50%;
    width: 50%;
    border: 1px solid white;
    -o-object-fit: center;
       object-fit: center; }

.slider {
  position: absolute;
  height: 110%;
  width: 7.5%;
  top: -5%;
  left: 2.5%;
  background: #f2f2f2;
  -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.7));
  cursor: pointer;
  transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 999; }

.slide {
  right: 2.5%;
  left: 90%; }
