@mixin welcomeHeader {
  font-size: 7.5rem;
  font-weight: 100;
  letter-spacing: .75rem;
}

@mixin welcomeSecondary {
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgba($color-white, .5);
}

@mixin picOutlet {
  font-size: 3.75rem;
  font-style: italic;
  text-transform: uppercase;
  background: rgba($color-black, .15);
  padding: 1rem 2rem;
  color: $color-white;
  text-shadow: $text-shadow;
}

@mixin picTitle {
  font-size: 2.5rem;
  font-style: italic;
  background: rgba($color-black, .15);
  padding: 1rem 2rem;
  color: $color-white;
  text-shadow: $text-shadow;
}

@mixin infoText {
  color: $color-white;
  font-size: 2.75rem;
  letter-spacing: 2.5px;
  line-height: 120%;
  font-weight: 300;
  text-shadow: $text-shadow;

  &:first-letter {
    font-size: 4.5rem;
    margin-left: 3rem;
    font-style: italic;
  }
}

@mixin infoDate {
  font-size: 3rem;
  text-transform: uppercase;
}

@mixin infoAuthor {
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: .7rem;

  & span {
    font-style: italic;
    color: rgba($color-white, .85);
    margin-bottom: 1rem;
    letter-spacing: .3rem;
  }
}

@mixin infoDate {
  font-size: 2rem;
  color: $color-white;
  letter-spacing: .7rem;
  text-transform: uppercase;

}
