
// WELCOME
@mixin welcome__header($breakpoint) {
  @if $breakpoint == desktop {
    font-size: 7.5rem;
    font-weight: 100;
    letter-spacing: .75rem;
  }
}
@mixin welcome__secondary($breakpoint) {
  color: rgba($color-white, .5);
  @if $breakpoint == desktop {
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
}

// ARTICLE
@mixin article__title($breakpoint) {
  font-style: italic;
  text-transform: uppercase;
  @if $breakpoint == desktop {
    font-size: 2rem;
    line-height: 250%;
    letter-spacing: .25rem;
  }
}
@mixin article__outlet($breakpoint) {
  @if $breakpoint == desktop {
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
  }
}
@mixin article__author($breakpoint) {
  font-style: italic;
  @if $breakpoint == desktop {
    font-size: 1.5rem;
  }
}
@mixin article__date($breakpoint) {
  text-transform: uppercase;
  @if $breakpoint == desktop {
    font-size: 1rem;
  }
}

// TEXT BACKGROUND
@mixin article__text($breakpoint) {
  background-image: $color-background;
  color: $color-white;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 2rem;
}

