// COLORS

$color-white: #fff;
$color-black: #000;
$color-background: linear-gradient(to bottom right, red, orange);

$drop-shadow: drop-shadow(0 1rem 1rem rgba(black, .7));

$text-shadow: 0 1px $color-black;;

