*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: 'Lato';
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 80vh;
  width: 85vw;
  position: relative;
  filter: $drop-shadow;
  padding: 1vh 1vw;
  display: flex;
}
