@mixin welcomeHeader {
  font-size: 7.5rem;
  font-weight: 100;
  letter-spacing: .75rem;
}

@mixin welcomeSecondary {
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgba($color-white, .5);
}
